:root {
    --color_primario: #28324d;
    --color_secundario: #ab1111;
    --color_primario_segundo: #9aaad6;
    --color_secundario_segundo: #ab4b4b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

main {
    min-width: 1820px;
    max-width: 100vw;
}

html {
    min-width: 1820px;
    max-width: 100vw;
}

body {
    min-width: 1820px;
    max-width: 100vw;
}

header {
    height: 150px;
    display: flex;
    background-color: var(--color_primario);
    justify-content: space-between;
    align-items: center;
}

footer {
    height: 160px;
    display: flex;
    background-color: var(--color_primario);
    justify-content: space-between;
    align-items: center;
}

img {
    height: 100%;
    width: 100%;
}

input :focus {
    outline: none;
}

.contenedor {
    margin-left: 8em;
    margin-right: 8em;
}


/*HEADER*/

.header__logo {
    display: block;
    width: 300px;
    height: 85px;
}

.header__nav {
    width: 1000px;
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header__nav__item {
    display: flex;
}


/*HEADER TEXT*/

.header__nav__item__text {
    color: #ffffff;
    text-decoration: none;
}

.header__nav__item__text:hover {
    color: var(--color_primario_segundo);
}

.header__nav__item__text:hover:last-of-type {
    color: white;
}


/*HEADER BUTTON*/

.header__nav__item__button {
    color: #ffffff;
    text-decoration: none;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 10px;
    left: 20px;
}


/*PRINCIPAL*/

.main__principal {
    height: 797px;
    background-image: url(../img/doctor_index.jpg);
}

.main__square {
    position: absolute;
    border-radius: 10px;
    height: 340px;
    width: 850px;
    background-color: rgba(40, 50, 77, 0.5);
    top: 500px;
}

.main__square__content {
    margin-top: 2.5em;
    margin-right: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__square__content h1 {
    font-size: 3.5rem;
    color: #ffffff;
    margin-top: 0.5em;
}

.main__square__content p {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 300;
    margin-top: 0.7em;
    text-align: center;
}

.main__square__content button {
    margin-top: 1.2em;
    width: 180px;
    height: 55px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--color_primario);
    color: white;
    border: 0;
    border-radius: 5px;
}

.main__square__content button:hover {
    background-color: var(--color_primario_segundo);
}


/*MENU*/

.menu {
    display: flex;
    background-color: black;
}

.menu__option a {
    display: flex;
    height: 150px;
    width: 634.2px;
    color: white;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
}

.menu__option__image {
    margin-right: 20px;
    width: 70px;
    height: 70px;
}

.menu .menu__option:nth-of-type(1) a {
    justify-content: center;
    background-color: #45557f;
}

.menu .menu__option:nth-of-type(2) a {
    justify-content: center;
    background-color: #364365;
}

.menu .menu__option:nth-of-type(3) a {
    justify-content: center;
    background-color: #28324d;
}

.menu .menu__option:nth-of-type(1):hover a {
    background-color: var(--color_secundario_segundo);
}

.menu .menu__option:nth-of-type(2):hover a {
    background-color: var(--color_secundario_segundo);
}

.menu .menu__option:nth-of-type(3):hover a {
    background-color: var(--color_secundario_segundo);
}


/*VACUNAS*/

.vacunas {
    height: 725px;
    background-image: url(../img/vacuna.jpg);
    position: relative;
}

.vacunas__square {
    position: absolute;
    height: 350px;
    width: 850px;
    background-color: rgba(171, 17, 17, 0.35);
    left: 1053px;
    top: 230px;
    border-radius: 10px;
}

.vacunas__square__content {
    margin-left: 7em;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.vacunas__square__content h1 {
    line-height: 1em;
    font-size: 3.5rem;
    color: #ffffff;
    margin-top: 0.5em;
}

.vacunas__square__content p {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 300;
    margin-top: 0.7em;
    text-align: center;
}

.vacunas__square__content button {
    margin-top: 1.2em;
    width: 180px;
    height: 55px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--color_secundario);
    color: white;
    border: 0;
    border-radius: 5px;
}

.vacunas__square__content button:hover {
    background-color: var(--color_secundario_segundo);
}


/*LISTA VACUNAS*/

.ls_vacunas {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
    flex-grow: 0;
}

.ls_vacunas__text {
    margin-top: 2em;
}

.ls_vacunas__text h2 {
    font-size: 3.5rem;
}

.ls_vacunas__images {
    margin-top: 3em;
}

.ls_vacunas__images img {
    width: 300px;
    height: 81.33px;
}

.ls_vacunas__images img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: transform 0.5s;
    cursor: pointer;
}


/*FOOTER*/

.footer__logo {
    display: block;
    width: 300px;
    height: 85px;
}

.footer__text {
    color: white;
    margin-right: 8em;
    width: 400px;
    font-size: 1.5rem;
}

.footer__text h4 {
    font-weight: 300;
}


/*----------------------------------------------------------------------------------------------------------------*/


/*MAIN REGISTER*/

.main__register {
    height: 410px;
    background-image: url(../img/register.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__register__content {
    color: white;
    font-weight: 700;
    font-size: 4rem;
}

.main__register__content h1 {
    text-shadow: 3px 4px 0.2px black;
}


/*FORMS*/

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1500px;
}

.form {
    width: 1400px;
    height: 310px;
}

.form fieldset {
    margin-top: 8em;
    position: relative;
    width: 1400px;
    height: 310px;
    border-radius: 10px;
    border: 2px solid var(--color_primario);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.11);
}

.form legend {
    display: flex;
    width: 370px;
    height: 56px;
    position: absolute;
    left: 40px;
    bottom: 280px;
    background-color: var(--color_primario);
    border-radius: 15px 15px 0 0;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
}

.form__content1__campo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 300;
}

.form__content1__campo input {
    height: 35px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    margin-left: 10px;
    color: var(--color_primario);
    padding: 5px 10px;
    font-size: 1.3rem;
}

.form__content1__campo select {
    height: 35px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    margin-left: 10px;
    color: var(--color_primario);
    padding: 5px 10px;
    font-size: 1.3rem;
}

.form .form__content1__campo:nth-of-type(1) {
    align-self: flex-end;
    left: 150px;
    bottom: 210px;
}

.form .form__content1__campo:nth-of-type(2) {
    align-self: flex-end;
    left: 149px;
    bottom: 130px;
}

.form .form__content1__campo:nth-of-type(3) {
    align-self: flex-end;
    left: 187px;
    bottom: 50px;
}

.form .form__content1__campo:nth-of-type(4) {
    align-self: flex-end;
    left: 750px;
    bottom: 210px;
}

.form .form__content1__campo:nth-of-type(5) {
    align-self: flex-end;
    left: 785px;
    bottom: 130px;
}

.form .form__content1__campo:nth-of-type(6) {
    align-self: flex-end;
    left: 679px;
    bottom: 50px;
}


/*----------------------------------------------*/

.form__content2__campo {
    margin-top: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 300;
}

.form input {
    height: 35px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    margin-left: 10px;
    color: var(--color_primario);
    padding: 2px 10px;
    font-size: 1.3rem;
}

.form select {
    height: 35px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    margin-left: 10px;
    color: var(--color_primario);
    padding: 2px 10px;
    font-size: 1.3rem;
    border: 2px solid var(--color_primario);
    color: white;
    background-color: var(--color_primario);
}

.form .form__content2__campo:nth-of-type(1) {
    align-self: flex-end;
    left: 48px;
    bottom: 210px;
}

.form .form__content2__campo:nth-of-type(2) {
    align-self: flex-end;
    left: 34px;
    bottom: 130px;
}

.form .form__content2__campo:nth-of-type(3) {
    align-self: flex-end;
    left: 172px;
    bottom: 50px;
}

.form .form__content2__campo:nth-of-type(4) {
    align-self: flex-end;
    left: 685px;
    bottom: 210px;
}

.form .form__content2__campo:nth-of-type(5) {
    align-self: flex-end;
    left: 698px;
    bottom: 130px;
}

.form .form__content2__campo:nth-of-type(6) {
    align-self: flex-end;
    left: 747px;
    bottom: 50px;
}


/*----------------------------------------------*/

.form__content3__campo {
    margin-top: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 300;
}

.form .form__content3__campo:nth-of-type(1) input {
    width: 100px;
}

.form .form__content3__campo:nth-of-type(2) input {
    width: 100px;
}

.form .form__content3__campo:nth-of-type(1) {
    align-self: flex-end;
    left: 78px;
    bottom: 210px;
}

.form .form__content3__campo:nth-of-type(2) {
    align-self: flex-end;
    left: 34px;
    bottom: 130px;
}

.form .form__content3__campo:nth-of-type(3) {
    align-self: flex-end;
    left: 720px;
    bottom: 210px;
}

.form .form__content3__campo:nth-of-type(4) {
    align-self: flex-end;
    left: 803px;
    bottom: 130px;
}

.form .form__content3__campo:nth-of-type(5) {
    align-self: flex-end;
    left: 105px;
    bottom: 50px;
}

.form fieldset:last-of-type {
    margin-top: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    border: none;
    box-shadow: none;
}

.form fieldset:last-of-type input {
    width: 220px;
    height: 50px;
    border: none;
    margin-top: 10px;
    background-color: var(--color_secundario);
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
}

.form fieldset:last-of-type input:hover {
    background-color: var(--color_secundario_segundo);
}


/**----------------------------------------------------------------**/

.main__login {
    background-image: url(../img/login.jpg);
    position: relative;
    width: 1920px;
    height: 947px;
}

.main__login__footer {
    bottom: 0px;
    position: absolute;
    width: 1920px;
    height: 180px;
    background-color: rgba(255, 255, 255, .5);
    display: flex;
}

.main__login__square {
    position: absolute;
    margin: 100px 740px;
    width: 450px;
    height: 570px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
}

.main__login__square__logo a {
    width: 450px;
    height: 160px;
    border: 0;
    background-color: var(--color_primario);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.main__login__square__logo img {
    width: 80%;
    height: 80%;
}

.main__login__square__content {
    padding: 0px 20px;
}

.main__login__square__content h1 {
    text-align: center;
    color: var(--color_primario);
}

.main__login__square__content__campos {
    margin-top: 1.2em;
}

.main__login__square__content__campos h2 {
    color: var(--color_primario);
    font-weight: 300;
    font-size: 1.4em;
    margin-bottom: .3em;
}

.main__login__square__content__campos input {
    border-color: var(--color_primario);
    border-radius: 10px;
    border-width: .05em;
    box-shadow: 0 0;
    font-weight: 300;
    font-size: 1.4em;
    margin-bottom: .3em;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 1.5em;
    outline: none;
    padding: 2px 10px;
}

.main__login__square__content__button {
    margin-top: 1em;
}

.main__login__square__content__button input {
    width: 100%;
    height: 1.6em;
    outline: none;
    font-size: 1.4em;
    font-weight: 500;
    background-color: var(--color_primario);
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.main__login__square__content__button input:hover {
    background-color: var(--color_secundario_segundo);
}

.main__login__square__content__options {
    margin-top: 1.5em;
    display: flex;
    font-size: .8rem;
    justify-content: space-around;
    color: var(--color_primario);
}

.main__login__square__content__options a {
    text-decoration: none;
    font-weight: 300;
}

.main__login__square__content__footer {
    margin-top: 2em;
    font-size: .8rem;
    text-align: center;
    justify-content: space-around;
    color: var(--color_primario);
    font-weight: 300;
}

.main__login__square__content__footer__link {
    text-decoration: none;
    color: var(--color_secundario);
}

.main__login__footer__list {
    height: 130px;
    display: flex;
    margin: 25px 40px;
    justify-content: space-between;
}

.main__login__footer__list a {
    display: flex;
    margin: 0 40px;
    max-width: 400px;
    margin: 0;
}

.main__login__footer__list a img {
    height: 100%;
    max-width: 500px;
    width: auto;
}

.main__login__footer__list a:nth-child(2) {
    margin-left: 190px;
}

.main__login__footer__list a:nth-child(3) {
    margin-left: 50px;
}

.main__login__footer__list a:nth-child(2) {
    margin-left: 190px;
    width: 300px;
}

.main__login__footer__list a img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: transform 0.5s;
    cursor: pointer;
}


/*--------------------------------------------------------------------------------------

MAIN COVID*/

.main__covid {
    height: 800px;
    background-image: url(../img/covid.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.main__covid__content {
    color: white;
    font-weight: 700;
    font-size: 4rem;
}

.main__covid__content h1 {
    text-shadow: 3px 4px 0.2px black;
}


/*INFO COVID*/

.info_covid {
    margin: 50px 90px;
    display: flex;
    background-image: url(../img/info_covid.svg);
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    height: 1700px;
}


/*--------------------------------------------------------------------------------------

MAIN PLAN VACUNACION*/

.main__plan {
    height: 580px;
    background-image: url(../img/plan_vacunacion.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.main__plan__content {
    color: white;
    font-weight: 700;
    font-size: 4rem;
}

.main__plan__content h1 {
    text-shadow: 3px 4px 0.2px black;
}


/*INFO PLAN VACUNACION*/

.info_plan {
    margin: 50px 300px;
    display: flex;
    background-image: url(../img/info_plan.svg);
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    height: 1200px;
}


/*--------------------------------------------------------------------------------------

MAIN VACUNAS*/

.main__vacunas {
    height: 840px;
    background-image: url(../img/vacunas.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.main__vacunas__content {
    color: white;
    font-weight: 700;
    font-size: 4rem;
}

.main__vacunas__content h1 {
    text-shadow: 3px 4px 1px black;
}


/*INFO VACUNAS*/

.info_vacunas {
    margin: 50px 300px;
    display: flex;
    background-image: url(../img/info_vacunas.svg);
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    height: 650px;
}


/*--------------------------------------------------------------------------------------

MAIN PFIZER*/

.main__pfizer {
    height: 500px;
    background-image: url(../img/pfizer_portada.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.main__pfizer__logo {
    margin-top: 3em;
    height: 200px;
    display: flex;
    justify-content: center;
}

.main__pfizer__logo img {
    width: 40%;
    height: auto;
}


/*INFO PFIZER*/

.info_pfizer {
    margin: 50px 300px;
    display: flex;
    background-image: url(../img/info_pfizer.svg);
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    height: 1400px;
}


/*--------------------------------------------------------------------------------------

MAIN MODERNA*/

.main__moderna {
    height: 500px;
    background-image: url(../img/moderna_portada.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.main__moderna__logo {
    margin-top: 3em;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__moderna__logo img {
    width: auto;
    height: 60%;
}


/*INFO MODERNA*/

.info_moderna {
    margin: 50px 300px;
    display: flex;
    background-image: url(../img/info_moderna.svg);
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    height: 1400px;
}


/*--------------------------------------------------------------------------------------

MAIN SINOVAC*/

.main__sinovac {
    height: 500px;
    background-image: url(../img/sinovac_portada.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.main__sinovac__logo {
    margin-top: 3em;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__sinovac__logo img {
    width: 20%;
    height: auto;
}


/*INFO SINOVAC*/

.info_sinovac {
    margin: 50px 300px;
    display: flex;
    background-image: url(../img/info_sinovac.svg);
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    height: 1400px;
}


/*--------------------------------------------------------------------------------------

MAIN JANNSEN*/

.main__jannsen {
    height: 500px;
    background-image: url(../img/jannsen_portada.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.main__jannsen__logo {
    margin-top: 3em;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__jannsen__logo img {
    width: 20%;
    height: auto;
}


/*INFO JANNSEN*/

.info_jannsen {
    margin: 50px 300px;
    display: flex;
    background-image: url(../img/info_j&j.svg);
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    height: 1400px;
}


/*--------------------------------------------------------------------------------------

MAIN JANNSEN*/

.main__astra {
    height: 500px;
    background-image: url(../img/astrazeneca_portada.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    position: relative;
}

.main__astra__logo {
    margin-top: 3em;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__astra__logo img {
    width: 20%;
    height: auto;
}


/*INFO JANNSEN*/

.info_astra {
    margin: 50px 300px;
    display: flex;
    background-image: url(../img/info_astrazeneca.svg);
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    height: 1400px;
}


/*--------------------------------------------------------------------------------------

INDEX LOGEADO*/

.profile {
    width: 100px;
    height: 100px;
    background-color: var(--color_primario_segundo);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.profile h3 {
    font-size: 1.7em;
}

.container__usuario {
    display: none;
    position: absolute;
    width: 220px;
    height: 150px;
    background-color: var(--color_primario);
    margin-left: 1590px;
    margin-top: 10px;
    align-items: center;
}

.container__usuario h2 {
    font-size: 1.2em;
    color: white;
    font-weight: 400;
    margin-top: 15px;
}

.usuario__opcion {
    width: 220px;
    height: 50px;
    display: flex;
    padding-bottom: 25px;
    justify-content: center;
}

.usuario__opcion:hover {
    background-color: var(--color_secundario);
    cursor: pointer;
}

.covid-logiado {
    margin-bottom: 630px;
    margin-right: 80px;
}

.astra_logiado {
    margin-bottom: 340px;
    margin-right: 100px;
}

.plan_logiado {
    margin-bottom: 420px;
    margin-right: 100px;
}

.vacunas_logiado {
    margin-bottom: 670px;
    margin-right: 100px;
}

.profile_boton {
    cursor: pointer;
}


/*--------------------------------------------------------------------------------------

CAMBIAR CONTRASEÑA*/

.main__plan__cc {
    height: 580px;
    background-image: url(../img/cambiar_contraseña.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.form_contraseña {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_con {
    width: 800px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_con fieldset {
    width: 800px;
    height: 400px;
}

.titulo_form h2 {
    font-size: 2em;
    color: var(--color_primario);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form__contentCon__campo {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__contentCon__campo input {
    height: 35px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    color: var(--color_primario);
    padding: 2px 10px;
    font-size: 1.3rem;
}

.form__contentCon__campo h3 {
    height: 35px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    margin-left: 10px;
    color: var(--color_primario);
    padding: 2px 10px;
    font-size: 1.3rem;
}

#button_cam {
    background-color: var(--color_primario);
    color: white;
}

.form_con fieldset {
    border-radius: 10px;
    border: 2px solid var(--color_primario);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.11);
}


/*--------------------------------------------------------------------------------------

ACTUALIZAR INFORMACION*/

.main__plan__ai {
    height: 580px;
    background-image: url(../img/actualizar_informacion.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.form_actualizar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_act {
    width: 800px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_act fieldset {
    width: 800px;
    height: 550px;
}

.titulo_form h2 {
    font-size: 2em;
    color: var(--color_primario);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form__contentAct__campo {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__contentAct__campo input {
    height: 35px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    color: var(--color_primario);
    padding: 2px 10px;
    font-size: 1.3rem;
}

.form__contentAct__campo h3 {
    height: 35px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    margin-left: 10px;
    color: var(--color_primario);
    padding: 2px 10px;
    font-size: 1.3rem;
}

#button_act {
    background-color: var(--color_primario);
    color: white;
}

.form_act fieldset {
    border-radius: 10px;
    border: 2px solid var(--color_primario);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.11);
}

.form__contentAct__campo select {
    height: 35px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    margin-left: 10px;
    color: var(--color_primario);
    padding: 2px 10px;
    font-size: 1.3rem;
    border: 2px solid var(--color_primario);
    color: white;
    background-color: var(--color_primario);
}

.usuario__opcion a{
    text-decoration: none;
}

/*SOLICITAR CITA*/

.main__plan__sc{
    height: 580px;
    background-image: url(../img/solicitar_cita.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.form_solicitar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_sol {
    width: 800px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_sol fieldset {
    width: 800px;
    height: 550px;
}

.titulo_form h2 {
    font-size: 2em;
    color: var(--color_primario);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form__contentSol__campo {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__contentSol__campo input {
    height: 35px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    color: var(--color_primario);
    padding: 2px 10px;
    font-size: 1.3rem;
    margin-left: 10px;
}

.form__contentSol__campo h3 {
    height: 35px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    margin-left: 10px;
    color: var(--color_primario);
    padding: 2px 10px;
    font-size: 1.3rem;
}

#button_sol {
    background-color: var(--color_primario);
    color: white;
}

.form_sol fieldset {
    border-radius: 10px;
    border: 2px solid var(--color_primario);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.11);
}

.form__contentSol__campo select {
    height: 35px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    margin-left: 10px;
    color: var(--color_primario);
    padding: 2px 10px;
    font-size: 1.3rem;
    border: 2px solid var(--color_primario);
    color: white;
    background-color: var(--color_primario);
}

.fase{
    margin: 20px 40px;
    width: 1820px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fase_info{
    width: 1820px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.fase_info h2{
    font-size: 3.5em;
    font-weight: 500;
}

.fase_info span{
    font-size: 1em;
    font-weight: 700;
    color: var(--color_secundario);
}

.fase_info p{
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--color_secundario);
}

/*REPORTAR SINTOMAS*/

.main__plan__rs{
    height: 580px;
    background-image: url(../img/reportar_efectos.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.form_reportar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_rep {
    width: 800px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_rep fieldset {
    width: 1000px;
    height: 550px;
}

.titulo_rep h2 {
    font-size: 2em;
    color: var(--color_primario);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form__contentRep__campo {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__contentRep__campo input {
    height: 35px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    color: var(--color_primario);
    padding: 2px 10px;
    font-size: 1.3rem;
}

.form__contentRep__campo h3 {
    height: 35px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    margin-left: 10px;
    color: var(--color_primario);
    padding: 2px 10px;
    font-size: 1.3rem;
}

#button_rep {
    background-color: var(--color_primario);
    color: white;
}

.form_rep fieldset {
    border-radius: 10px;
    border: 2px solid var(--color_primario);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.11);
}
.form__contentRep__campo select {
    height: 35px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    margin-left: 10px;
    color: var(--color_primario);
    padding: 2px 10px;
    font-size: 1.3rem;
    border: 2px solid var(--color_primario);
    color: white;
    background-color: var(--color_primario);
}
.form__contentRep__area {
    margin-top: 50px;
}

.form__contentRep__area h3{
    margin: 0;
    color: var(--color_primario);
    font-size: 1.3rem;
    text-align: center;
}
.form__contentRep__text_area{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__contentRep__text_area textarea{
    padding: 5px 5px;
    font-size: 1.2em;
    width: 700px;
    height: 200px;
    resize: none;
    border-color: var(--color_primario);
}

.sintomas{
    margin: 20px 40px;
    width: 1820px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sintomas_info{
    width: 1820px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.sintomas h2{
    font-size: 3em;
    font-weight: 500;
}

.sintomas_info span{
    font-size: 1em;
    font-weight: 700;
    color: var(--color_secundario);
}

.sintomas_info p{
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--color_secundario);
}

/*CONSULTAR CITA*/

.main__plan__cons{
    height: 580px;
    background-image: url(../img/consultar_cita.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.info_cita {
    margin: 0 40px;
    width: 1820px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_cita_div{
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_cita_usuario{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info_cita_cancelar{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_cita_usuario h2{
    margin-left: 100px;
    margin-top: 15px;
    color: var(--color_primario_segundo);
}

.info_cita_usuario h2 span{
    color: var(--color_primario);
    margin-left: 10px;
    
}

.info_cita_cancelar button{
    width: 200px;
    height: 60px;
    border:0;
    background-color: var(--color_secundario);
    color:white;
    font-size: 1.5em;
    border-radius: 5px;
}



.consulta_cita{
    margin: 20px 40px;
    width: 1820px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.consulta_cita_info{
    width: 1820px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.consulta_cita h2{
    font-size: 3em;
    font-weight: 500;
}

.consulta_cita_info span{
    font-size: 1em;
    font-weight: 700;
    color: var(--color_secundario);
}

.consulta_cita_info p{
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--color_secundario);
}

